In [2]:
import pandas as pd

In [8]:
# Cambiar por ruta relativa, ya que a mi no me funcionaba xd
df = pd.read_csv('./OneDrive/Escritorio/udd/Python para ciencia de datos/tarea-05/iris-data.csv')

In [9]:
df.shape

(150, 5)

In [10]:
df.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

# Columnas
 - Sepal Length: Longitud del sépalo
 - Sepal Width: Ancho del sépalo
 - Petal Length: Longitud del pétalo
 - Petal Width: Ancho del pétalo
 - Class: Especie de la flor

In [13]:
df.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

### El dataset no posee valores nulos

In [14]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [19]:
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

Existen 50 muestras de cada una de las 3 especies de Iris.